name: Build PiSender EXE

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Package Application
        uses: JackMcKew/pyinstaller-action-windows@main
        with:
          path: .
          spec: pisender.spec
      - uses: actions/upload-artifact@v4
        with:
          name: pisender-exe
          path: dist/windows
